@media (max-width: 1600px) {

}
@media (max-width: 1441px) {
    /* .slider-home-img__items .slick-center img {
        transform: scale(1.2);
    }  */
    .slider-home-img__items .slick-center.slider-home-img__item {
        height: 266px !important;
    }
    .wrapper .slider-home-img__items .prev-arrow {
        right: 26%;
    }
}
@media (max-width: 1366px) {

}
@media (max-width: 1200px) {
    .wrapper .header__img h2 {
        font-size: 40px;
    }
    .wrapper .navigations a {
        font-size: 18px;
    }
}
@media (max-width: 1080px) {
    .footer__nav {
        flex-direction: column;
        align-items: center;
    }
    .footer__navigations ul {
        align-items: center;
    }
    .footer__navigations {
        margin-bottom: 20px;
        text-align: center;
    }
    .footer__contact {
        margin-bottom: 20px;
    }
    .wrapper .footer__up {
        align-items: center;
        justify-content: center;
    }
    .footer__dev {
        margin-top: 20px;
    }
}
@media (max-width: 992px) {
    .header-items__logo img {
        position: relative !important;
    }
    .header-items__logo {
        margin: 0 auto;
    }
    .wrapper .navigations ul {
        display: none;
    }
    .wrapper .navigations {
        display: flex;
        justify-content: flex-end;
    }
    .wrapper .mob-menu {
        display: block;
        position: fixed;
        right: 20px;
        top: 20px;
        width: 30px;
        height: 3px;
        background: white;
        transition: all 0.3s;
        cursor: pointer;
    }
    .wrapper .mob-menu::before {
        transition: all 0.3s;
        position: absolute;
        content: "";
        left: 0;
        top: -10px;
        width: 30px;
        height: 3px;
        background: white;
        transition: all 0.3s;
        cursor: pointer;
    }
    .wrapper .mob-menu::after {
        transition: all 0.3s;
        position: absolute;
        content: "";
        left: 0;
        top: 10px;
        width: 30px;
        height: 3px;
        background: white;
        transition: all 0.3s;
        cursor: pointer;
    }
    .navigations ul.active {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        height: 100%;
        width: 40%;
        top: 0;
        right: 0;
        z-index: 888;
        background: black;
    }
    .navigations li {
        margin: 20px 0;
    }
    .mob-menu.active {
        position: fixed;
        right: 20px;
        top: 20px;
        z-index: 999;
    }
    .wrapper .mob-menu.active::before {
        transition: all 0.3s;
        transform: rotate(45deg);
        left: -20px;
        top: 0px;
    }
    .wrapper .mob-menu.active {
        transition: all 0.3s;
        width: 0;
    }
    .wrapper .mob-menu.active::after {
        transition: all 0.3s;
        transform: rotate(-45deg);
        left: -20px;
        top: 0px;
    }
    .header-items {
        flex-direction: column;
    }
    .header-items__btn {
        flex-direction: column;
        align-items: center;
    }
    .wrapper .btn__personal-area button {
        width: 200px;
    }
    .wrapper .btn__link button {
        width: 200px;
    }
    .wrapper .btn__link {
        margin: 20px 0;
    }
    .wrapper .navigations {
        margin: 5px;
    }
    .wrapper .header__img h2 {
        font-size: 30px;
    }
    .wrapper .about {
        margin-top: 20px;
        flex-direction: column;
        text-align: center;
    }
    .wrapper .navigations-slider .next-arrow {
        right: 20px;
    }
    .wrapper .navigations-slider .prev-arrow {
        right: 65px;
    }
    .wrapper .slider-home-img__items .next-arrow {
        right: 10px;
    }
    .wrapper .slider-home-img__items .prev-arrow {
        right: 45px;
    }
    .wrapper .conditions__item {
        min-height: 460px;
    }
}
@media (max-width: 768px) {
    .wrapper .header__img h2 {
        font-size: 25px;
    }
    .navigations ul.active {
        width: 50%;
    }
}
@media (max-width: 575px) {
    .wrapper .conditions__title p {
        font-size: 35px;
    }
    .wrapper .conditions__text p {
        font-size: 14px
    }
    .wrapper .latest-news__item {
        flex-direction: column;
        align-items: flex-start;
    }
    .latest-news__title {
        margin-bottom: 20px;
    }
    .latest-news__arrow {
        margin-top: 20px;
    }
    .wrapper .conditions__title h2 {
        font-size: 20px;
    }
    .wrapper .header__img h2 {
        font-size: 20px;
    }
    .wrapper .about__text p {
        font-size: 20px;
    }
    .wrapper .slider-home-img__item {
       max-width: none;
    }
    .navigations ul.active {
        width: 80%;
    }
}
@media (max-width: 475px) {
    .wrapper .conditions__title p {
        font-size: 30px;
    }
    .header__img h2::before {
        display: none;
    }
}
@media (max-width: 390px) {
    .wrapper .navigations a {
        font-size: 16px;
    }
}