*,
*::before,
*::after {
    box-sizing: border-box;
}
ul{margin: 0;padding: 0;}
h1,h2,h3,h4,h5,h6{padding:0;margin:0;color:var(--white);font-weight:500}
p{padding:0;margin:0;color:var(--white);font-weight:500}
span{color: var(--white);}
button{cursor: pointer;}
/* img{width: 100%; height: 100%;} */
body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Russo One', sans-serif;   
}
:root {
    --black: #000;
    --gray: #838383;
    --blue-dark: #292E8D;
    --white: #fff;
}
.wrapper {
    max-width: 1920px;
    margin: 0 auto;
    background: url(./img/index/zen.webp)0 0/cover no-repeat;
}
.container {
    max-width: 1085px;
    margin: 0 auto;
}
/* -- head -- */
.header-items {
    display: flex;
    justify-content: space-between;
    padding-left: 55px;
    padding-right: 55px;
}
.header-items__btn {
    padding-top: 27px;
    display: flex;
    justify-content: space-between;
}
.header-items__logo {
    position: relative;
}
.header-items__logo img {
    position: absolute;
    left: 0;
    top: 0;
    width: 255px;
    height: 160px;
}
.btn__serch {
    position: relative;
}
.btn__serch input {
    max-width: 200px;
    width: 100%;
    height: 42px;
    background: none;
    border: 2px solid var(--white);
    color: var(--white);
    padding-left: 15px;
    padding-right: 50px;
}
.btn__serch::before {
    content: "";
    position: absolute;
    width: 41px;
    height: 42px;
    background: white;
    right: 0;
    top: 0;
}
.btn__serch::after {
    content: "";
    position: absolute;
    width: 43px;
    height: 43px;
    background: url(./img/index/cerch.png) no-repeat center;
    right: 0;
    top: 0;
    cursor: pointer;
}
.btn__serch input::-webkit-input-placeholder {
    color: var(--white);
}
.btn__link {
    margin: 0 20px;
}
.btn__link button {
    max-width: 200px;
    width: 100%;
    height: 43px;
    background: var(--white);
    color: var(--black);
    border: 2px solid var(--white);
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto';
}
.btn__personal-area button {
    background: none;
    max-width: 200px;
    width: 100%;
    height: 43px;
    border: 2px solid var(--white);
    color: var(--white);
}
.navigations {
    margin: 40px 0;
    padding-left: 55px;
    padding-right: 55px;
}
.navigations li {
    list-style: none;
}
.navigations ul {
    display: flex;
    justify-content: space-between;
}
.navigations a {
    font-size: 20px;
    color: var(--white);
    font-weight: 400;
    font-family: 'Russo one';
    text-decoration: none;
}
.header__img {
    background: url(./img/index/img-home.png) 0 0/cover no-repeat;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header__img h2 {
    font-size: 50px;
    font-weight: 400;
    font-family: 'Russo one';
    text-align: center;
    margin: 0 auto;
    position: relative;
    z-index: 5;
    line-height: 60px;
}
.header__img h2::before {
    content: '';
    width: 100%;
    height: 35px;
    background: #292E8D;
    left: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
}
/* -- about -- */
.about {
    margin-top: 95px;
    margin-bottom: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.about__img {
    max-width: 498px;
    width: 100%;
    height: 100%;
    margin-right: 50px;
}
.about__img img {
    width: 100%;
    height: 100%;
}
.about__text {
    max-width: 616px;
    width: 100%;
}
.about__text p {
    font-size: 24px;
    font-weight: 400;
    font-family: 'Roboto';
    color: var(--white);
    line-height: 28px;
}
.about__text p:nth-child(2n) {
    padding: 20px 0;
}
/* -- navigations-slider -- */
.navigations-slider {
    padding-bottom: 176px;
}
.navigations-slider__items {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
}
.navigations-slider__items a {
    text-decoration: none;
}
.navigations-slider__items .slick-list {
    overflow: hidden;
}
.navigations-slider__items .slick-track {
    display: flex;
    justify-content: center;
}
.navigations-slider__img {
    width: 166px;
    height: 166px;
    border: 5px solid var(--white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.navigations-slider__item {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.navigations-slider__text h2 {
    font-size: 26px;
    font-family: 'Roboto';
    font-weight: 500;
    color: var(--white);
}
.prev-arrow {
    content: url('./img/index/arrow_back_24px.png');
    cursor: pointer;
    cursor: pointer;
    position: absolute;
    right: 35px;
    bottom: -70px;
}
.next-arrow {
    content: url('./img/index/arrow_back_24px.png');
    transform: rotate(180deg);
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: -70px;
}
/* -- latest-news -- */
.latest-news > h2 {
    font-size: 40px;
    font-family: 'Russo one';
    font-weight: 400;
    color: var(--white);
    text-align: center;
    margin-bottom: 30px;
}
.latest-news__item {
    display: flex;
    justify-content: space-between;
    max-width: 1095px;
    width: 100%;
    align-items: center;
    margin: 0 auto;
}
.latest-news__title h2 {
    font-size: 26px;
    color: var(--white);
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 30px;
    width: 275px;
}
.latest-news__text p {
    font-size: 16px;
    line-height: 26px;
    color: var(--white);
    font-weight: 400;
    font-family: 'Roboto';
}
.latest-news__arrow span {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto';
}
.latest-news__arrow span:nth-child(1) {
    padding-right: 20px;
}
.latest-news__arrow {
    display: flex;
    justify-content: flex-end;
}
.latest-news__item:nth-child(2n) {
    margin: 55px auto;
}
.latest-news__more {
    margin-top: 50px;
}
.latest-news__more span {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 400;
}
.latest-news__more span:nth-child(1) {
    padding-right: 20px;
}
/* conditions */ 