*,
*::before,
*::after {
    box-sizing: border-box;
}
ul{margin: 0;padding: 0;}
h1,h2,h3,h4,h5,h6{padding:0;margin:0;color:var(--white);font-weight:500}
p{padding:0;margin:0;color:var(--white);font-weight:500}
span{color: var(--white);}
h2{font-size: 40px; font-family: 'Russo One'; font-weight: 400; color: var(--white); line-height: 48px;}
button{cursor: pointer;}
body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Russo One', sans-serif;   
}
:root {
    --black: #000;
    --gray: #838383;
    --blue-dark: #292E8D;
    --white: #fff;
}
.wrapper {
    max-width: 1920px;
    margin: 0 auto;
    background: url(./img/index/zen.webp)0 0/cover no-repeat;
}
.container {
    max-width: 1075px;
    padding: 0 10px;
    margin: 0 auto;
}
/* -- head -- */
.header-items {
    display: flex;
    justify-content: space-between;
    padding-left: 55px;
    padding-right: 55px;
}
.header-items__btn {
    padding-top: 27px;
    display: flex;
    justify-content: space-between;
}
.header-items__logo {
    position: relative;
    padding-top: 27px;
}
.btn__serch {
    position: relative;
}
.btn__serch input {
    max-width: 200px;
    width: 100%;
    height: 42px;
    background: none;
    border: 2px solid var(--white);
    color: var(--white);
    padding-left: 15px;
    padding-right: 50px;
}
.btn__serch::before {
    content: "";
    position: absolute;
    width: 41px;
    height: 42px;
    background: white;
    right: 0;
    top: 0;
}
.btn__serch::after {
    content: "";
    position: absolute;
    width: 43px;
    height: 43px;
    background: url(./img/index/cerch.png) no-repeat center;
    right: 0;
    top: 0;
    cursor: pointer;
}
.btn__serch input::-webkit-input-placeholder {
    color: var(--white);
}
.btn__link {
    margin: 0 20px;
}
.btn__link button {
    max-width: 200px;
    width: 100%;
    height: 43px;
    background: var(--white);
    color: var(--black);
    border: 2px solid var(--white);
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto';
}
.btn__personal-area button {
    background: none;
    max-width: 200px;
    width: 100%;
    height: 43px;
    border: 2px solid var(--white);
    color: var(--white);
}
.navigations {
    margin: 40px 0;
    padding-left: 55px;
    padding-right: 55px;
}
.mob-menu {
    display: none;
}
.navigations li {
    list-style: none;
}
.navigations ul {
    display: flex;
    justify-content: space-between;
}
.navigations a {
    font-size: 20px;
    color: var(--white);
    font-weight: 400;
    font-family: 'Russo one';
    text-decoration: none;
}
.header__img {
    background: url(./img/index/img-home.png) 0 0/cover no-repeat;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header__img h2 {
    font-size: 50px;
    font-weight: 400;
    font-family: 'Russo one';
    text-align: center;
    margin: 0 auto;
    position: relative;
    z-index: 5;
    line-height: 60px;
}
.header__img h2::before {
    content: '';
    width: 100%;
    height: 35px;
    background: #292E8D;
    left: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
}
/* -- about -- */
.about {
    margin-top: 95px;
    margin-bottom: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.about__img {
    max-width: 498px;
    width: 100%;
    height: 100%;
    margin-right: 50px;
}
.about__img img {
    width: 100%;
    height: 100%;
}
.about__text {
    max-width: 616px;
    width: 100%;
}
.about__text p {
    font-size: 24px;
    font-weight: 400;
    font-family: 'Roboto';
    color: var(--white);
    line-height: 28px;
}
.about__text p:nth-child(2n) {
    padding: 20px 0;
}
/* -- navigations-slider -- */
.navigations-slider {
    padding-bottom: 176px;
}
.navigations-slider__items {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
}
.navigations-slider__items a {
    text-decoration: none;
}
.navigations-slider__items .slick-list {
    overflow: hidden;
}
.navigations-slider__items .slick-track {
    display: flex;
    justify-content: center;
}
.navigations-slider__img {
    width: 166px;
    height: 166px;
    border: 5px solid var(--white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.navigations-slider__item {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.navigations-slider__text h2 {
    font-size: 26px;
    font-family: 'Roboto';
    font-weight: 500;
    color: var(--white);
}
.navigations-slider .prev-arrow {
    content: url('./img/index/arrow_back_24px.png');
    cursor: pointer;
    cursor: pointer;
    position: absolute;
    right: 35px;
    bottom: -70px;
}
.navigations-slider .next-arrow {
    content: url('./img/index/arrow_back_24px.png');
    transform: rotate(180deg);
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: -70px;
}
/* -- latest-news -- */
.latest-news > h2 {
    font-size: 40px;
    font-family: 'Russo one';
    font-weight: 400;
    color: var(--white);
    text-align: center;
    margin-bottom: 30px;
}
.latest-news__item {
    display: flex;
    justify-content: space-between;
    max-width: 1095px;
    width: 100%;
    align-items: center;
    margin: 0 auto;
}
.latest-news__title h2 {
    font-size: 26px;
    color: var(--white);
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 30px;
    width: 275px;
}
.latest-news__text p {
    font-size: 16px;
    line-height: 26px;
    color: var(--white);
    font-weight: 400;
    font-family: 'Roboto';
}
.latest-news__arrow span {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto';
}
.latest-news__arrow span:nth-child(1) {
    padding-right: 20px;
}
.latest-news__arrow {
    display: flex;
    justify-content: flex-end;
}
.latest-news__item:nth-child(2n) {
    margin: 55px auto;
}
.latest-news__more {
    margin-top: 50px;
}
.latest-news__more span {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 400;
}
.latest-news__more span:nth-child(1) {
    padding-right: 20px;
}
/* conditions */ 
.conditions {
    margin-top: 100px;
    padding-bottom: 105px;
}
.conditions__items {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
}
.conditions__item {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 319px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    background: var(--white);
}
.conditions__title {
    text-align: center;
    border-bottom: 5px solid #838383;
    padding-bottom: 25px;
}
.conditions__title h2 {
    font-size: 26px;
    font-weight: 400;
    color: #292E8D;
    font-family: 'Russo one';
    padding-bottom: 20px;
}
.conditions__title p {
    font-family: 'Roboto';
    font-size: 52px;
    font-weight: 500;
    color: #292E8D;
}
.conditions__text p:nth-child(1) {
    text-align: center;
    margin: 20px auto;
}
.conditions__text p {
    font-size: 16px;
    font-family: 'Roboto';
    color: #838383;
    font-weight: 500;
}
.conditions__items .slick-list {
    overflow: hidden;
}
.conditions__items .slick-track {
    display: flex;
    justify-content: center;
    align-items: center;
}
.conditions__items .slick-center.conditions__item {
    height: 490px !important;
}
.conditions__item {
    margin: 0 20px !important;
}
.conditions .next-arrow {
    content: url('./img/index/arrow_back_24px.png');
    transform: rotate(180deg);
    cursor: pointer;
    position: absolute;
    right: 0;
    top: -100px;
}
.conditions .prev-arrow {
    content: url('./img/index/arrow_back_24px.png');
    cursor: pointer;
    position: absolute;
    right: 35px;
    top: -100px;
}
/* -- slider-home-img -- */
.slider-home-img {
    padding-bottom: 75px;
}
.slider-home-img h2 {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    color: var(--white);
    font-size: 40px;
    font-weight: 400;
    font-family: 'Russo one';
    max-width: 349px;
}
.slider-home-img__more {
    margin-top: 50px;
}
.slider-home-img__more span {
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 400;
    color: var(--white);
}
.slider-home-img__more span:nth-child(1) {
    padding-right: 20px;
}
.slider-home-img__items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
}
.slider-home-img__items .slick-list {
    overflow: hidden;
}
.slider-home-img__items .slick-track {
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-home-img__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 229px;
    max-width: 325px;
    margin: 0 55px;
    /* width: 100%; */
}
.slider-home-img__item img {
    height: 229px;
}
.slider-home-img__items .next-arrow {
    content: url('./img/index/arrow_back_24px.png');
    transform: rotate(180deg);
    cursor: pointer;
    position: absolute;
    right: 23%;
    bottom: -100px;
}
.slider-home-img__items .prev-arrow {
    content: url('./img/index/arrow_back_24px.png');
    cursor: pointer;
    position: absolute;
    right: 25%;
    bottom: -100px;
}
/* -- map -- */
/* -- footer -- */
footer {
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 75px;
    padding-right: 50px;
}
.footer__nav {
    display: flex;
    justify-content: space-between;
}
.footer__dev p {
    text-align: center;
    font-size: 14px;
    color: var(--white);
    font-weight: 400;
    font-family: 'Roboto';
}
.footer__navigations li {
    list-style: none;
}
.footer__navigations li:nth-child(2n) {
    margin: 20px 0;
}
.footer__navigations a {
    text-decoration: none;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 400;
    color: var(--white);
}
.footer__navigations ul {
    display: flex;
    flex-direction: column;
}
.footer__contact {
    display: flex;
    flex-direction: column;
}
.footer__social img:nth-child(2) {
    margin: 0 20px;
}
.footer__social {
    padding-bottom: 15px;
}
.footer__contact a {
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 400;
    color: var(--white);
}
.footer__contact a:nth-child(2) {
    margin-bottom: 15px;
}
.footer__btn button {
    width: 200px;
    height: 42px;
    background: var(--white);
    color: var(--black);
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto';
}
.footer__up {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    cursor: pointer;
}
.footer__up span {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto';
    color: var(--white);
    padding-right: 20px;
}
/* -- online-video -- */
.online-video {
    margin-bottom: 75px;
}
.online-video h2 {
    padding-bottom: 50px;
    text-align: center;
}
/* -- requisites -- */
.requisites h2:first-child {
    text-align: center;
    padding: 75px 0;
}
.requisites h2:nth-child(2) {
    text-align: center;
    padding-bottom: 30px;
}
.requisites__items {
    display: flex;
    justify-content: space-between;
}
.requisites__item-left ul {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
}
.requisites__item-left li {
    list-style: none;
    font-size: 24px;
    color: var(--white);
    font-family: 'Roboto';
    font-weight: 400;
}
.requisites__item-left li:not(:last-child) {
    margin-bottom: 40px;
}
/* -- requisites-warning -- */
.requisites-warning {
    display: flex;
    justify-content: flex-start;
    margin: 75px auto;
}
.requisites-warning__img-block {
    width: 166px;
    height: 166px;
    background: var(--white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}
.requisites-warning__text {
    max-width: 680px;
    width: 100%;
    display: flex;
    align-items: center;
}
.requisites-warning__text p {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Roboto';
    color: var(--white);
}
/* -- debtors -- */
.debtors {
    margin: 75px auto;
}
.debtors h2 {
    padding-bottom: 30px;
    margin: 0 auto;
    text-align: center;
}
.debtors__items {
    display: flex;
    justify-content: flex-start;
}
.debtors__text p:first-child {
    font-size: 24px;
    color: var(--white);
    font-family: 'Roboto';
    font-weight: 400;
    padding-bottom: 10px;
}
.debtors__img {
    margin-right: 50px;
}
.debtors__text a:last-child {
    font-size: 24px;
    color: var(--white);
    font-family: 'Roboto';
    font-weight: 500;
    text-decoration: none;
}
/* news */
.news {
    margin: 75px auto;
}
.news > h2 {
    margin-bottom: 30px;
    text-align: center;
}
.news__item {
    display: flex;
    justify-content: space-between;
}
.news__logo {
    margin-right: 45px;
}
.news__text > h2 {
    font-size: 26px;
    padding-bottom: 18px;
    line-height: 31px;
}
.news__text > p {
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 400;
    color: var(--white);
    line-height: 26px;
    padding-bottom: 20px;
}
.news__text-more {
    display: flex;
    justify-content: space-between;
}
.news__text-more p {
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 400;
    color: var(--white);
    line-height: 26px;
}
.news__text-more a {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto';
    color: var(--white);
    text-decoration: none;
}
.news__text-more img {
    padding-left: 20px;
}
.news__item:not(:last-child) {
    margin-bottom: 30px;
}
.page-link {
    color: var(--white);
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 400;
    text-decoration: none;
}
.page-item {
    list-style: none;
    margin: 20px;
}
.pagination {
    display: flex;
}
/* -- single-post -- */ 
.single-post {
    margin: 75px auto;
}
.single-post__navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}
.single-post__navigation a {
    font-family: 'Russo One';
    font-weight: 400;
    font-size: 26px;
    color: var(--white);
    text-decoration: none;
}
.single-post__navigation > h2 {
    font-family: 'Russo One';
    font-weight: 400;
    font-size: 26px;
    color: var(--white);
}
.single-post__items {
    display: flex;
    justify-content: space-between;
}
.single-post__text {
    width: 53%;
}
.single-post__text h2 {
    font-size: 26px;
    padding-bottom: 18px;
}
.single-post__text p {
    font-size: 16px;
    line-height: 26px;
    color: var(--white);
    font-family: 'Roboto';
    font-weight: 400;
    padding-bottom: 20px;
}
.single-post__navigation-btn a {
    font-size: 20px;
    color: var(--white);
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 400;
}
.single-post__navigation-btn a:first-child {
    padding-right: 50px;
}
.single-post__navigation-btn a:first-child img {
    padding-left: 20px;
    transform: rotate(180deg);
}
.single-post__navigation-btn a:last-child img {
    padding-left: 20px;
}
/* -- doc -- */
.doc {
    margin-top: 75px;
} 
.doc h2 {
    text-align: center;
    margin-bottom: 30px;
}
.doc__item {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}
.doc__img {
    padding-right: 50px;
}
.doc__item h3 {
    font-size: 24px;
    font-family: 'Russo One';
    font-weight: 400;
    color: var(--white);
    line-height: 28px;
}
.doc__item a {
    font-size: 24px;
    font-family: 'Roboto';
    font-weight: 500;
    color: var(--white);
    text-decoration: none;
}
.doc__items {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
}
/* -- sale -- */
.sale {
    margin: 75px auto;
}
.sale h2 {
    text-align: center;
    margin-bottom: 30px;
}
.sale__cat-btn {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 50px;
}
.sale__cat-btn button:first-child {
    width: 200px;
    height: 43px;
    background: none;
    color: var(--white);
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto';
    border: 2px solid var(--white);
    margin-right: 20px;
}
.sale__cat-btn button:last-child {
    width: 200px;
    height: 43px;
    background: none;
    color: var(--white);
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto';
    border: 2px solid var(--white);
}
.sale__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.sale__price-name {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.sale__price-name h3 {
    font-family: 'Russo One';
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    color: var(--white);
}
.sale__text p {
    font-family: 'Roboto';
    color: var(--white);
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 20px;
}
.sale__text {
    width: 58%;
}
.sale__data-btn {
    display: flex;
    justify-content: space-between;
}
.sale__data-btn p {
    font-family: 'Roboto';
    color: var(--white);
    font-weight: 400;
    font-size: 16px;
}
.sale__data-btn a {
    font-family: 'Roboto';
    color: var(--white);
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
}
.sale__data-btn img {
    padding-left: 20px;
}